/*font-family: 'Open Sans', sans-serif;*/
/*font-family: 'Raleway', sans-serif;*/
/*#C0392B - highlight color?*/
/*#1E88E5 - background color/main txt*/
/*#FFC300 - hover color?*/
/*#FFFFFF - nav text/main background*/

/*font-family: 'Open Sans', sans-serif; 300 text*/
/*font-family: 'Raleway', sans-serif; 900 headings*/

/*#17252A - text/hover
#2B7A78 - highlight
#3AAFA9 - text
#DEF2F1 - highlight
#FEFFFF - header text*/

.project-link {
  color: #3AAFA9;
  text-decoration: none;
}

.project-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 250px;
  padding: 15px;
  background-color: #FEFFFF;
  box-shadow: 0px 0px 5px 0px rgba(23,37,42, 0.5);
}

.info-overlay {
  display: none;
  position: relative;
}

.project-container h3 {
  padding: 5px;
  width: 100%;
  background-color: rgba(23,37,42,0.05);
  font-size: 23px;
  letter-spacing: 1.1px;
  text-align: center;
}

@keyframes slide-down {
  0% {
    bottom: 50px;
    opacity: 0;
  }

  100% {
    bottom: 0px;
    opacity: 1;
  }
}

.project-container:hover {
  background-color: #FEFFFF;
  color: #3AAFA9;
  animation-name: slide-down;
  animation-duration: 1s;
  /*padding: 10px;*/
}

.project-container:hover h3 {
  display: none;
}

.project-container:hover .info-overlay {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /*transition: all 2s ease-in;*/
  animation-name: slide-down;
  animation-duration: 1s;
}

.project-container h3,
.info-overlay h4,
.info-overlay p {
  margin: 0;
}

.info-overlay h4 {
  font-size: 21px;
  font-weight: 700;
  margin-bottom: 15px;
  color: #3AAFA9;
  border-bottom: 1px solid #17252A;
}

.info-overlay ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.info-overlay li {
  margin-bottom: 3px;
  width: 100%;
}

.project-tech {
  margin-left: 10px;
  font-size: 18px;
  font-weight: 700;
  text-align: left;
}

.project-tech-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
  width: 100%;
  font-size: 15px;
  font-weight: 400;
}

.date-complete {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  font-weight: 300;
  text-align: center;
}
