/*font-family: 'Open Sans', sans-serif;*/
/*font-family: 'Raleway', sans-serif;*/
/*#C0392B - highlight color?*/
/*#1E88E5 - background color/main txt*/
/*#FFC300 - hover color?*/
/*#FFFFFF - nav text/main background*/

/*font-family: 'Open Sans', sans-serif; 300 text*/
/*font-family: 'Raleway', sans-serif; 900 headings*/

/*#17252A - text/hover
#2B7A78 - highlight
#3AAFA9 - text
#DEF2F1 - highlight
#FEFFFF - header text*/

.project-link {
  width: 65vw;
  color: #3AAFA9;
  text-decoration: none;
}

.project-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 30px;
  padding: 30px;
  background-color: #FEFFFF;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: 0px 0px 5px 0px rgba(23,37,42, 0.5);
}

.project-image img {
  height: 24vw;
  margin-bottom: 20px;
  width: 40vw;
  border: 5px solid #3AAFA9;
  border-radius: 2px;
}

.project-container h3 {
  color: #3AAFA9;
  font-size: 3vw;
  letter-spacing: 1.1px;
  text-align: center;
}

.project-live-link {
  font-size: 1.6vw;
  text-decoration: none;
  color: #17252A;
  transition: 1s;
  margin-bottom: 5px;
}

.project-live-link:hover {
  font-size: 1.7vw;
  cursor: pointer;
  color: #2B7A78;
}

.about {
  color: #3AAFA9;
  font-size: 1.3vw;
  line-height: 1.5;
  word-spacing: 6px;
}

.project-container h3,
.info-overlay p {
  margin: 0;
}

.project-tech {
  margin-left: 10px;
  font-weight: 700;
  font-size: 1.5vw;
  text-align: left;
}

.project-tech-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
  width: 100%;
  font-weight: 400;
}

.tech-used {
  color: #17252A;
}

@media screen and (max-width: 500px) {
  .project-link {
    margin: 0 auto;
    width: 90%;
  }

  .project-image img {
    height: 40vw;
    width: 60vw;
  }

  .project-container h3 {
    font-size: 6vw;
  }

  .project-live-link {
    font-size: 3.5vw;
  }

  .project-live-link:hover {
    font-size: 3.5vw;
  }

  .about {
    font-size: 3vw;
  }

  .project-tech {
    margin-left: 0;
    font-size: 3vw;
  }
}
