/*#17252A - text/hover
#2B7A78 - highlight
#3AAFA9 - text
#DEF2F1 - highlight
#FEFFFF - header text*/

.contact-form-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 70vh;
  width: 95%;
  background-color: #FEFFFF;
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.6);
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 60%;
}

.contact-form-container h2 {
  margin-bottom: 50px;
  font-size: 40px;
}

input,
textarea {
  margin-bottom: 15px;
  padding: 6px 6px 6px 10px;
  width: 85%;
  border: 2px solid #3AAFA9;
  color: #17252A;
  font-size: 26px;
  outline-style: none;
}

input:nth-of-type(2) {
  font-size: 24px;
  margin-bottom: 40px;
}

textarea {
  height: 100px;
  font-size: 20px;
  margin-bottom: 20px;
}

button {
  padding: 10px 25px;
  background: none;
  border: 2px solid #3AAFA9;
  color: #17252A;
  font-size: 30px;
}

button:hover {
  cursor: pointer;
  color: #FEFFFF;
  background-color: #3AAFA9;
}
