/*font-family: 'Open Sans', sans-serif;*/
/*font-family: 'Raleway', sans-serif;*/

/*#17252A - text/hover
#2B7A78 - highlight
#3AAFA9 - text
#DEF2F1 - highlight
#FEFFFF - header text*/

* {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
  position: fixed;
  width: 22vw;
  background-color: #FEFFFF;
  box-shadow: 0px 1px 10px 3px rgba(23,37,42, 0.5);
  z-index: 9999;
}

.nav-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 30px;
}

.david-logo {
  height: 6rem;
  margin-bottom: 20px;
  width: 6rem;
  background-image: url('../assets/DBlogo.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  box-shadow: 0px 0px 2px 0px rgba(23,37,42, 0.5);
}

h1,
h2 {
  margin: 0;
  color: #17252A;
  text-align: center;
}

h1 {
  margin-bottom: 20px;
  font-size: 3vw;
  font-weight: 700;
}

h2 {
  font-size: 1.8vw;
  font-weight: 400;
}

.nav-link-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 2px 20px 0;
  width: 100%;
  text-decoration: none;
  color: #3AAFA9;
  font-size: 2.2vw;
  letter-spacing: 1.1px;
}

.nav-link:hover {
  color: #2B7A78;
  font-size: 2.3vw;
  transition: 1s;
}

.active,
.active.nav-link:hover {
  border-right: 4px solid #17252A;
  border-radius: 1px;
  color: #17252A;
  font-size: 2.3vw;
}

.quick-contact {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 30px;
  width: 60%;
}

.quick-contact-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
  width: 100%;
}

.quick-contact a {
  height: 3.5vw;
  margin-bottom: 10px;
  width: 3.5vw;
  box-shadow: 0px 0px 5px 0px #FFF;
  text-decoration: none;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 2px;
}

.quick-contact a:nth-of-type(1) {
  background-image: url('../assets/github-logo-silhouette-in-a-square.png')
}

.quick-contact a:nth-of-type(2) {
background-image: url('../assets/linkedin (1).png')
}

.quick-contact a:nth-of-type(3) {
background-image: url('../assets/turing-logo.png')
}

.quick-contact a:hover {
  opacity: 0.7;
  transition: 1s;
  height: 51px;
  width: 51px;
  box-shadow: 0px 0px 4px 0px rgba(23,37,42, 0.5);
}

.quick-contact p {
  margin: 0;
  color: #3AAFA9;
  font-size: 1.1vw;
  letter-spacing: 1.1px;
}

/*@media screen and (min-width: 1651px) {

  h1 {
    font-size: 55px;
  }

  .david-logo {
    height: 190px;
    width: 180px;
  }

  h2 {
    font-size: 30px;
  }

  .nav-link {
    margin-bottom: 30px;
    font-size: 45px;
  }

  .nav-link:hover {
    font-size: 47px;
  }

  .quick-contact a {
    height: 70px;
    width: 70px;
  }

  .quick-contact p {
    font-size: 25px;
  }

}

@media screen and (max-width: 1650px) {

  h1 {
    font-size: 47px;
  }

  .david-logo {
    height: 180px;
    width: 170px;
  }

  h2 {
    font-size: 30px;
  }

  .nav-link {
    margin-bottom: 30px;
    font-size: 40px;
  }

  .nav-link:hover {
    font-size: 42px;
  }

  .quick-contact a {
    height: 60px;
    width: 60px;
  }

  .quick-contact p {
    font-size: 25px;
  }

}

@media screen and (min-width: 1350px) and (max-width: 1660px) {
  /*1247px to 1016px*/

  /*h1 {
    font-size: 42px;
  }

  .david-logo {
    height: 160px;
    width: 150px;
  }

  h2 {
    font-size: 27px;
  }

  .nav-link {
    margin-bottom: 30px;
    font-size: 36px;
  }

  .nav-link:hover {
    font-size: 38px;
  }

  .quick-contact a {
    height: 50px;
    width: 50px;
  }

  .quick-contact p {
    font-size: 20px;
  }

}

@media screen and (min-width: 1000px) and (max-width: 1360px) {
  /*1016px to 750px*/

  /*h1 {
    font-size: 10px;
    color: purple;
  }

  .david-logo {
    height: 130px;
    width: 120px;
  }

  h2 {
    font-size: 22px;
  }

  .nav-link {
    margin-bottom: 30px;
    font-size: 30px;
  }

  .nav-link:hover {
    font-size: 32px;
  }

  .quick-contact a {
    height: 40px;
    width: 40px;
  }

  .quick-contact p {
    font-size: 18px;
  }

}*/
