/*font-family: 'Open Sans', sans-serif;*/
/*font-family: 'Raleway', sans-serif;*/

/*#17252A - text/hover
#2B7A78 - highlight
#3AAFA9 - text
#DEF2F1 - highlight
#FEFFFF - header text*/

* {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 25%;
  background-color: #FEFFFF;
  box-shadow: 0px 1px 10px 3px rgba(23,37,42, 0.5);
  z-index: 9999;
}

.nav-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 45%;
  margin-top: 20px;
}

.david-logo {
  height: 150px;
  width: 150px;
  margin-bottom: 10px;
  background-image: url('../assets/DBlogo.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

h1,
h2 {
  margin: 0;
  color: #17252A;
  text-align: center;
}

h1 {
  font-size: 40px;
  font-weight: 700;
}

h2 {
  font-size: 25px;
  font-weight: 400;
}

.nav-link-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 50%;
  width: 100%;
}

.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 2px 20px 0;
  width: 100%;
  text-decoration: none;
  color: #3AAFA9;
  font-size: 30px;
  letter-spacing: 1.1px;
}

.nav-link:hover {
  border-right: 4px solid #17252A;
  border-radius: 1px;
  color: #17252A;
  font-size: 32px;
  transition: 1.3s;
}

.quick-contact {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 60%;
}

.quick-contact-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.quick-contact p,
.quick-contact a {
  margin: 0 0 10px 0;
  letter-spacing: 1.1px;
}

.quick-contact a {
  height: 50px;
  width: 50px;
  box-shadow: 0px 0px 5px 0px #FFF;
  text-decoration: none;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.quick-contact a:nth-of-type(1) {
  background-image: url('../assets/github-logo-silhouette-in-a-square.png')
}

.quick-contact a:nth-of-type(2) {
background-image: url('../assets/linkedin (1).png')
}

.quick-contact a:nth-of-type(3) {
background-image: url('../assets/turing-logo.png')
}

.quick-contact a:hover {
  opacity: 0.7;
}

.quick-contact p {
  color: #3AAFA9;
  font-size: 18px;
}

@media screen and (min-width: 1651px) {

  h1 {
    font-size: 55px;
  }

  .david-logo {
    height: 190px;
    width: 180px;
  }

  h2 {
    font-size: 30px;
  }

  .nav-link {
    margin-bottom: 30px;
    font-size: 45px;
  }

  .nav-link:hover {
    font-size: 47px;
  }

  .quick-contact a {
    height: 70px;
    width: 70px;
  }

  .quick-contact p {
    font-size: 25px;
  }

}

@media screen and (max-width: 1650px) {

  h1 {
    font-size: 50px;
  }

  .david-logo {
    height: 180px;
    width: 170px;
  }

  h2 {
    font-size: 30px;
  }

  .nav-link {
    margin-bottom: 30px;
    font-size: 40px;
  }

  .nav-link:hover {
    font-size: 42px;
  }

  .quick-contact a {
    height: 60px;
    width: 60px;
  }

  .quick-contact p {
    font-size: 25px;
  }

}
