/*#17252A - text
#2B7A78 - highlight
#3AAFA9 - background
#DEF2F1 - highlight
#FEFFFF - header text*/


.about-me-text {
  padding-left: 15px;
  border-left: 1px solid #17252A;
  font-size: 1.5vw;
  letter-spacing: 1.4px;
  line-height: 1.7;
  animation-name: fade-in;
  animation-duration: 2s;
}

.about-me-text:nth-last-of-type(1) {
  margin-bottom: 30px;
}

.about-me-title {
  padding: 5px;
  border: none;
  color: #17252A;
  font-family: 'Open Sans', sans-serif;
  font-size: 2.5vw;
  font-weight: 700;
}

.about-me-link {
  padding: 5px;
  font-weight: 700;
  letter-spacing: 1.1px;
  text-decoration: none;
  color: #FEFFFF;
}

.about-me-link:hover {
  color: #17252A;
  cursor: pointer;
}

.about-me-tech {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 15px;
  background-color: rgba(254, 255, 255, 0.1);
  border-left: 1px solid #17252A;
  border-radius: 3px;
  box-sizing: border-box;
}

.about-me-tech img {
  height: 7vw;
  margin-bottom: 20px;
  margin-right: 20px;
  width: 7vw;
}

.about-me-tech img:nth-of-type(1) {
  width: 14vw;
}

.about-me-tech img:nth-of-type(6) {
  width: 8vw;
}

.about-me-tech img:nth-of-type(9),
.about-me-tech img:nth-of-type(10) {
  width: 11vw;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@media screen and (max-width: 500px) {
  .about-me-container {
    padding: 20px;
    position: relative;
    top: 15vh;
  }

  .about-me-title {
    font-size: 3.5vw;
  }

  .about-me-text {
    font-size: 2.5vw;
  }
}
