/*#17252A - text/hover
#2B7A78 - highlight
#3AAFA9 - text
#DEF2F1 - highlight
#FEFFFF - header text*/

.projects-wrapper {
  width: 100%;
}

.projects-wrapper h2 {
  font-family: 'Raleway', sans-serif;
  margin: 30px 0;
  color: #17252A;
  font-size: 5vw;
}

.projects-display {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
