/*USE GRID!*/
/*font-family: 'Open Sans', sans-serif;*/
/*font-family: 'Raleway', sans-serif;*/

/*#17252A - text/hover
#2B7A78 - highlight
#3AAFA9 - text
#DEF2F1 - highlight
#FEFFFF - header text*/

.projects-wrapper {
  width: 100%;
}

.projects-wrapper h2 {
  font-family: 'Raleway', sans-serif;
  margin-bottom: 30px;
  color: #17252A;
  font-size: 50px;
}

.projects-display {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-row-gap: 2em;
  grid-column-gap: 2em;
  width: 100%;
}
